section {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8em;
  h2 {
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .table-cell {
    .name {
      font-weight: 500;
    }
  }
}
