section {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8em;

  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .table {
    display: table;
  }

  .table-row {
    display: table-row;
  }

  .table-cell {
    display: table-cell;
  }

  table {
    width: 100%;
  }

  td {
    ul {
      padding: 0;
      margin: 0;
    }
  }
}
