@import "variables";
@import "header";
@import "section";

body {
  min-width: 260px;
  margin: 0;
  padding: 40px;
}

ul {
  padding-left: 30px;
}

header, section {
  margin-bottom: 20px;
}

@media(max-width: $mobile) {
  body {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@import "print";
@import "sections/work-education";
@import "sections/skills";
