@media print {
  body {
    padding: 0;
  }

  header, section {
    margin-bottom: 15px;
  }

  section {
    h2 {
      margin-bottom: 10px;
    }
  }

  a {
    color: #000;
    text-decoration: none;
  }
}
