<h2>Education</h2>
<div class="table">
  <% universities.forEach(function(university) { %>
    <div class="table-row">
      <!-- Date -->
      <div class="table-cell">
        <%= university.start_date %> - <%= university.end_date %>
      </div>

      <!-- Name -->
      <div class="table-cell">
        <span class="name"><%= university.name %></span>
        <% if (university.degree) { %>
          <ul>
            <li>
              <%= university.degree %>
            </li>
          </ul>
        <% } %>
      </div>
    </div>
  <% }) %>
</div>
