<table id="education">
  <% data.forEach(function(university) { %>
    <tr>
      <td class="date">
        <!-- Date -->
        <%= formatDate(university.start_date) %> - <%= formatDate(university.end_date) %>
      </td>
      <td class="summary">
        <!-- Summary -->
        <b><%= university.name %></b>
        <% if (university.degree) { %>
          <ul>
            <li>
              <%= university.degree %>
            </li>
          </ul>
        <% } %>
      </td>
    </tr>
  <% }) %>
</table>
