<h1 class="title"><%= name %></h1>
<div class="subtitle">
  <span class="role"><%= role %></span>
  <span class="contact">
    <% if (contact.email) { %>
      <span class="separator">|</span> Email: <%= contact.email %>
    <% } %>
</div>
