<header id="header"><%- include("header") %></header>
<% data.sections.forEach(function(section) { %>
  <section>
    <h2><%= section.title %> </h2>
    <%- include(section.template, {data: section.data}) %>
  </section>
<%})%>
