<ul id="other">
  <li>Google Play: <a href="<%= data.googleplay %>" target="_blank"><%= data.googleplay %></a></li>
  <li>GitHub: <a href="<%= data.github %>" target="_blank"><%= data.github %></a></li>
</ul>
