<table id="projects">
  <ul>
  <% data.forEach(function(project) { %>
    <li>
      <%= project.name %>
      <ul>
        <% project.summary.forEach(function (item) { %>
          <li><%= item %></li>
        <% }) %>
      </ul>
    </li>
  <% }) %>
  </ul>
</table>
