<ul id="talks">
<% data.forEach(function(talk) { %>
  <li>
    <%= talk.title %>
    <% if (talk.link) { %>
      <ul><li><a href="<%= talk.link %>"><%= talk.link %></a></li></ul>
    <% } %>
  </li>
<% }) %>
</ul>
