<h2>Other</h2>
<ul>
  <li>Google Play: <a href="<%= links.googleplay %>" target="_blank"><%= links.googleplay %></a></li>
  <li>GitHub: <a href="<%= links.github %>" target="_blank"><%= links.github %></a></li>
</ul>
