<html>
  <head>
    <title>CV</title>
    <!-- Dependencies-->
    <script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>

    <!-- Stylesheets -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300|Roboto+Slab|Roboto+Mono:400,500' rel='stylesheet' type='text/css'>
    <link href="css/index.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%- include("partials/main", data) %>
  </body>
</html>
